<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flower.dao.UserDao">
        <select id="findByUserName" parameterType="String" resultType="User">
            select uid,uname,upwd,usex,uphone,uaddress,urealname,uphotos from flower.t_user
            where uname = #{uname}
        </select>
        <select id="findById" parameterType="Integer"  resultType="User">
            select * from flower.t_user
            where uid = #{uid}
        </select>
        <select id="lists" resultType="User">
            select * from flower.t_user
        </select>
        <select id="findByUsername" parameterType="String" resultType="User">
            select * from flower.t_user
            where uname like CONCAT('%',#{uname},'%')
        </select>

        <insert id="save" parameterType="User">
        insert into flower.t_user
        values (#{uid},#{uname},#{upwd},#{usex},#{uphone},#{uaddress},#{urealname},#{uphotos})
        </insert>

        <update id="update" parameterType="User">
            update flower.t_user set uname=#{uname},upwd=#{upwd},uname=#{uname},usex=#{usex},uphone=#{uphone},uaddress=#{uaddress},urealname=#{urealname},uphotos = #{uphotos}
            where uid=#{uid}
        </update>
        <delete id="delete" parameterType="Integer">
            delete from flower.t_user
            where uid=#{uid}
        </delete>
</mapper>